.tracks-page {
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tracks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-item {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: fit-content;
  font-size: 1.6rem;
}

.track-item:hover {
  transform: scale(1.02);
}

.track-circle {
  text-align: center;
  font-size: 1.4rem;
}

.track-circle h3 {
  font-size: 1.5rem;
}

.track-circle p {
  font-size: 1rem;
  color: #333;
}

.form-container {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-left: 3rem;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: rgb(75, 82, 85);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #697565;
}